.about {
  padding: 170px 0 60px;
  background: var(--color-white);
}

.about__title {
  color: var(--color-green);
  font-size: 50px;
  font-weight: 700;
  max-width: 500px;
  position: relative;
}

.about__title::before {
  content: "How it works";
  color: var(--color-black-3);
  font-size: 24px;
  font-weight: 600;
  position: absolute;
  top: -30px;
  left: 0;
}

.about__description {
  color: var(--color-black-3);
  font-size: 20px;
  font-weight: 500;
  max-width: 670px;
}

.about__wrapper {
  display: flex;
  justify-content: space-between;
  align-items: center;
}

.about__cards {
  margin: 70px 0 0 0;
  display: flex;
  justify-content: space-between;
  gap: 20px;
}

.about__cards .card:nth-child(2) {
  margin: 240px 0 0 0;
}

@media (max-width: 1250px) {
  .about__wrapper {
    flex-direction: column;
    justify-content: start;
    align-items: center;
    gap: 20px;
  }
  .about__cards {
    flex-direction: column;
    justify-content: start;
    align-items: center;
  }
  .about__cards .card:nth-child(2) {
    margin: 0;
  }
}

@media (max-width: 576px) {
  .about {
    padding: 100px 0 60px;
  }
  .about__wrapper {
    padding: 15px 0;
  }
  .about__title {
    font-size: 35px;
  }
  .about__title::before {
    font-size: 15px;
  }
  .about__description {
    font-size: 16px;
  }
  .about__cards {
    margin: 25px 0 0 0;
  }
}