@import url('https://fonts.googleapis.com/css2?family=Lato:wght@100;300;400;700;900&display=swap');

*,
*:before,
*:after {
  box-sizing: border-box;
}

body {
  margin: 0;
  font-family: "Lato", sans-serif;
  background-color: var(--color-white);
}

ul {
  list-style: none;
  margin: 0;
  padding: 0;
}

a {
  text-decoration: none;
  color: unset;
}

h1, h2, h3, h4, h5, h6, p, figure {
  margin: 0;
}

.container {
  max-width: 1400px;
  padding: 0 10px;
  margin: 0 auto;
}

.logo {
  width: 81px;
  height: 24px;
  flex-shrink: 0;
}

.btn {
  border: none;
  border-radius: 3px;
  outline: none;
  width: 185px;
  height: 50px;
  color: var(--color-white);
  background-color: var(--color-green);
  font-size: 20px;
  font-weight: 400;
  font-family: "Lato", sans-serif;
  transition: transform 0.3s ease-out, box-shadow 0.3s ease-out;
}

.btn:hover,
.btn:focus-visible {
  transform: translateY(-3px);
  box-shadow: 0 6px 20px rgba(0, 0, 0, 0.3);
  cursor: pointer;
}

.btn--signin {
  background-color: transparent;
  color: var(--color-black-1);
}