.card {
  max-width: 390px;
  height: 830px;
  display: flex;
  flex-direction: column;
  justify-content: end;
  align-items: start;
  gap: 60px;
}

.card__title {
  color: var(--color-black-1);
  font-size: 30px;
  font-weight: 700;
  align-self: center;
  position: relative;
}

.card__title::before {
  content: "01";
  color: var(--color-green);
  opacity: 0.3;
  font-size: 150px;
  font-weight: 400;
  position: absolute;
  top: -115px;
  left: -105px;
}

.card__description {
  color: var(--color-black-3);
  font-size: 20px;
  font-weight: 500;
}

.card__image {
  width: 100%;
  object-fit: cover;
  border-radius: 12px;
  aspect-ratio: auto 65/82;
}

.card__title--right {
  align-self: end;
}

.card__title--second::before {
  content: "02";
}

.card__title--third::before  {
  content: "03";
  left: -130px;
}

@media (max-width: 576px) {
  .card {
    height: 700px;
    gap: 30px;
  }
  .card__title {
    font-size: 25px;
    align-self: center;
  }
  .card__title::before {
    top: -120px;
    left: -100px;
  }
  .card__title--second::before {
    left: -52px;
  }
  .card__title--third::before  {
    left: -128px;
  }
  .card__description {
    font-size: 15px;
  }
}