.hero {
  background-image: url('../assets/webp/BG.webp');
  background-position: center;
  background-size: cover;
  background-repeat: no-repeat;
  height: 890px;
}

.hero__wrapper {
  padding: 180px 0 0 0;
  max-width: 420px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  align-items: start;
}

.hero__title {
  font-size: 65px;
  font-weight: 700;
  color: var(--color-green);
}

.hero__description {
  margin: 25px 0 50px;
  font-size: 20px;
  font-weight: 400;
  color: var(--color-black-2);
}

.hero__wrapper .btn {
  width: 230px;
  height: 65px;
}

@media (max-width: 768px) {
  .hero {
    height: 700px;
  }

  .hero__wrapper {
    padding: 90px 0 0 0;
  }
}

@media (max-width: 480px) {
  .hero {
    background: linear-gradient(180deg, rgba(245, 246, 252, 0.52), rgba(255, 176, 139, 0.28)),
    url('../assets/webp/BG.webp') 60% 50% / cover no-repeat;
  }

  .hero__title {
    font-size: 45px;
    max-width: 350px;
  }
}