.person-card {
  position: absolute;
  top: 350px;
  left: 5px;
  width: 300px;
  height: 290px;
  border-radius: 5px;
  box-shadow: 2px 2px 5px 0 rgba(0, 0, 0, 0.3);
  padding: 20px 0;
  overflow: hidden;
  background-color: var(--color-white);
  display: flex;
  flex-direction: column;
  align-items: center;
  gap: 18px;
}

.person-card__title {
  position: relative;
  font-size: 20px;
  font-weight: 600;
  color: var(--color-black-1);
}

.person-card__title::after {
  content: "";
  position: absolute;
  top: 0px;
  left: 0;
  background-color: var(--color-black-1);
  height: 1px;
}

.person-card__avatar {
  width: 75px;
  height: 75px;
  border-radius: 50%;
  overflow: hidden;
}

.person-card__avatar-img {
  width: 120px;
  height: 120px;
  object-fit: cover;
  object-position: -30px -10px;
}

.person-card__avatar-name {
  font-size: 18px;
  font-weight: 400;
  color: var(--color-black-1);
}

.person-card__quote-title {
  font-size: 20px;
  font-weight: 700;
  color: var(--color-black-1);
}

.person-card__list-item {
  font-size: 14px;
  font-weight: 400;
  color: var(--color-black-1);
}