.pricing {
  padding: 90px 0 140px 0;
  background-color: var(--color-dark-green);
}

.pricing__wrapper {
  padding: 0 0 0 30px;
  color: var(--color-white);
}

.pricing__title {
  font-size: 40px;
  font-weight: 900;
}

.pricing__nav {
  margin: 65px 0 0 0;
}

.pricing__nav-list {
  display: flex;
  flex-direction: column;
  row-gap: 60px;
}

.pricing__nav-link {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-white);
  display: inline-block;
  transition: transform 0.4s ease;
}

.pricing__nav-link:hover {
  transform: scale(1.2);
}
