.product {
  padding: 115px 0 240px 0;
}

.product__wrapper {
  position: relative;
  display: flex;
  justify-content: space-between;
  gap: 15px;
  padding: 0 30px;
}

.product__picture {
  height: 570px;
  border-radius: 18px;
  overflow: hidden;
}

.product__picture-img {
  width: 100%;
  height: 100%;
  object-fit: cover;
}

.product__content {
  max-width: 530px;
  display: flex;
  flex-direction: column;
  gap: 20px;
}

.product__subtitle {
  font-size: 25px;
  font-weight: 600;
  color: var(--color-black-3);
}

.product__title {
  font-size: 50px;
  font-weight: 700;
  color: var(--color-green);
}

.product__description {
  font-size: 20px;
  font-weight: 400;
  color: var(--color-black-2);
}

.product__content .btn {
  margin: 20px 0 0 0;
  width: 230px;
  height: 65px;
}

@media (max-width: 992px) {
  .product {
    padding: 115px 0;
  }
  .product__picture {
    height: 500px;
  }
  .product__content {
    max-width: 430px;
    justify-content: center;
  }
  .product__title {
    font-size: 32px;
    max-width: 350px;
  }
  .product__wrapper .person-card {
    display: none;
  }
}

@media (max-width: 768px) {
  .product__wrapper {
    flex-wrap: wrap;
    justify-content: center;
    gap: 30px;
  }
  .product__content {
    max-width: 530px;
  }
  .product__title {
    font-size: 28px;
    max-width: 320px;
  }
  .product__description {
    font-size: 16px;
  }
  .product__content .btn {
    margin: 0;
  }
}