.success {
  background-color: var(--color-dark-green);
}

.success__wrapper {
  padding: 220px 0 250px 0;
  display: flex;
  justify-content: space-between;
  gap: 40px;
  flex-wrap: wrap-reverse;
}

.success__content {
  max-width: 550px;
  display: flex;
  flex-direction: column;
  justify-content: start;
  row-gap: 30px;
}

.success__title {
  color: var(--color-white);
  margin: 60px 0 0 0;
  font-size: 50px;
  font-weight: 700;
}

.success__description {
  color: var(--color-white);
  font-size: 25px;
  font-weight: 600;
}

.success__content .btn {
  width: 240px;
  height: 65px;
  font-size: 20px;
  font-weight: 400;
  margin: 50px 0 0 0;
}

.success__frame {
  max-width: 790px;
  height: 450px;
  border-radius: 12px;
  overflow: hidden;
  position: relative;
}

.success__img {
  width: 100%;
  height: 100%;
  object-fit: cover;
  aspect-ratio: 158/91;
}

.success__player-icon {
  position: absolute;
  z-index: 2;
  width: 72px;
  height: 73px;
  color: var(--color-white);
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  transition: color 0.4s ease;
}

.success__player-icon:hover {
  color: var(--color-green);
  cursor: pointer;
}

.success__gradient {
  position: absolute;
  z-index: 1;
  inset: 0;
  background: linear-gradient(180deg, rgba(0, 0, 0, 0.1), rgba(0, 0, 0, 0.5)) center/cover no-repeat;
}

@media (max-width: 1392px) {
  .success__wrapper {
    padding: 150px 0 180px 0;
    justify-content: center;
  }
  .success__content {
    text-align: center;
    justify-content: center;
    align-items: center;
  }
}

@media (max-width: 576px) {
  .success__wrapper {
    padding: 150px 0;
  }
  .success__title {
    font-size: 32px;
  }
  .success__description {
    font-size: 20px;
  }
}